<% @totalprice = 0 %>
<button class="btn backbtn"><%= link_to "<", restaurant_meals_path(restaurant_id:@basket.table.restaurant_id, table_id: @basket.table.id)%></button>
<div class="basket">
  <div class="newscroll">
    <div class="cards-basket">
      <div class="header">
        <h1>Your Basket</h1>
        <h4> Table Number <%= @basket.table.number %></h4>
      </div>
      <div class="back" style="overflow: scroll">
        <% @basket.basket_meals.each do |basket_meal| %>
          <% @totalprice += (basket_meal.meal.price * basket_meal.quantity)%>
          <div class="card-products">
            <%= cl_image_tag basket_meal.meal.photo.key, class: "card-meal-img" %>
            <div class="card-products-infos">
              <h4> <%= basket_meal.quantity %>x
                <%= basket_meal.meal.name %></h4>
              <p><%= "%.2f" % (basket_meal.meal.price / 100.00) %>€</p>
                <%#= link_to "-", basket_basket_meal_path(@basket,meal_id: basket_meal.meal.id), method: :delete, style:"color:#9B9FFF"%>
            </div>
          </div>
        <% end  %>
        </div>
          <div class="price">
              <h3>Total price : <%=  "%.2f" % (@totalprice / 100.00) %>€</h3>
          </div>
      </div>
    </div>

    <div class="payment-button">

      <%= link_to 'Pay', payment_confirmation_basket_path(@basket), class:"payment" %>
    </div>

</div>
