<% @totalprice = 0 %>
<button class="btn backbtn"><%= link_to "<", restaurant_meals_path(restaurant_id:@basket.table.restaurant_id, table_id: @basket.table.id)%></button>
<div class="basket">
  <div class="newscroll">
    <div class="cards-basket">
      <div class="header">
        <h1> Table #<%= @basket.table.number %></h1>
        <h4>Your Basket</h4>
      </div>
      <div class="back" style="overflow: scroll">
        <% @basket.basket_meals.each do |basket_meal| %>
          <% @totalprice += (basket_meal.meal.price * basket_meal.quantity)%>
          <div class="card-products">
            <%= cl_image_tag basket_meal.meal.photo.key, class: "card-meal-img" %>
            <div class="card-products-infos">
              <h4> <%= basket_meal.quantity %>x
                <%= basket_meal.meal.name %>
              </h4>
              <p><%= "%.2f" % (basket_meal.meal.price / 100.00) %>€</p>
              <% if basket_meal.quantity > 1 %>
                <button class='btn-minus'><%= link_to "-", basket_meal_path(basket_meal.id), method: :patch, style:"color:#fdf5ec"%></button>
              <% else %>
                <button class='btn-minus'><%= link_to "-", basket_meal_path(basket_meal.id), method: :delete, style:"color:#fdf5ec"%></button>
              <% end %>
            </div>
          </div>
        <% end  %>
          <div class='header'>
            <h4>Shared Basket</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="payment-button" style="
    /* align-items: center; */
    display: flex;
    justify-content: center;">

      <%= link_to 'Pay', payment_confirmation_basket_path(@basket), class:"payment" %>
    </div>

    <div class="price">
        <h3>Total price : <%=  "%.2f" % (@totalprice / 100.00) %>€</h3>
    </div>
</div>
