<button class="btn backbtn"><%= link_to "<", restaurant_meals_path(restaurant_id:@basket.table.restaurant_id, table_id: @basket.table.id)%></button>
<div class="basket">


  <div class="cards-basket">
    <div class="back">
      <h1 style="margin-top=">Your Basket</h1>
      <% @basket.basket_meals.each do |basket_meal| %>
        <div class="card-products">
          <%= cl_image_tag basket_meal.meal.photo.key, class: "card-meal-img" %>
          <div class="card-products-infos">
            <h4> <%= basket_meal.quantity %>
              <%= basket_meal.meal.name %></h4>
            <h6><%= basket_meal.meal.description %></h6>
            <p><%= basket_meal.meal.price %>€</p>
          </div>
        </div>
      <% end  %>
      <%= link_to 'Pay', payment_confirmation_basket_path(@basket), class:"payment" %>
      </div>
    </div>
</div>
