<button class="btn backbtn"><%= link_to "<", restaurant_meals_path(restaurant_id:@basket.table.restaurant_id, table_id: @basket.table.id)%></button>
<div class="container">
  <h1>Share</h1>
  <br>
  <br>
  <%= form_with url: share_with_basket_basket_meals_url([@basket, @basket_meal]) do |form| %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "first_name") %>
    <%= hidden_field_tag :meal_id, params[:meal_id] %>
    <br>
    <br>
    <br>
    <%= submit_tag "Share", class:"btn all-btn-modal-share"%>
  <% end %>
</div>
