<script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
</script>


<div class="meals">
<button class="btn backbtn"><%= link_to "<", root_path()%></button>
   <br>

    <br>

    <br>
    <br>
    <br>
    <br>
  <div class="cards">

    <h1 class="text-center" style="font-size: 50px; color: #fdf5ec;"><strong>The Taj</strong></h1>
    <h4 class="text-center" style="font-size: 20px; color: #fdf5ec; margin-top: 10px;"> Table N° <%= @table.number %></h4>
    <h2>Most ordered</h2>
    <%  @favourites.each do |favourite|%>
      <%= render("meal_card",{meal: favourite, basket: @current_basket}) %>
      <% end  %>
    <h2>Starters</h2>
    <%  @starters.each do |starter|%>
      <%= render("meal_card",{meal: starter, basket: @current_basket}) %>
      <% end  %>
    <h2>Mains</h2>
     <%  @mains.each do |main|%>
      <%= render("meal_card",{meal: main, basket: @current_basket}) %>
    <% end  %>
    <h2>Desserts</h2>
      <%  @desserts.each do |dessert|%>
      <%= render("meal_card",{meal: dessert, basket: @current_basket}) %>
    <% end  %>
    <h2>Beverages</h2>
      <%  @beverages.each do |beverage|%>
      <%= render("meal_card",{meal: beverage, basket: @current_basket}) %>

    <% end  %>
    <br>
    <br>
    <br>
      <%= link_to basket_path(@current_basket), class:'btn-basket' , style:'color: #fdf5ec; text-align: center; text-decoration: none;' do %>
          <% if @item_count > 0 %>
            <div class="product-number" style ="width: 18px; font-height: 2px; height: 19px; align-items: center; display: flex; justify-content: center;"><%= "#{"%.0f" % (@item_count)}" %></div>
          <% end %>
          <i class="fas fa-shopping-cart" style="line-height: 1.2rem;"></i>
        <%end%>
      <br>
      <br>
  </div>
</div>
