<div class="meals">
   <br>
    <br>
    <br>
    <br>
    <br>

  <div class="cards">
    <h1 class="text-center" style="font-size: 50px; color: white;">Restaurant</h1>
    <%  @meals.each do |meal|%>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h4><%= meal.name %></h4>
          <h6><%= meal.description %></h6>
          <p><%= meal.price %>€</p>
          <div class="add-btn">
          <%= link_to "+", basket_basket_meals_path(@current_basket, meal_id: meal), method: :post %>
          </div>
        </div>
      </div>
    <% end  %>
    <div class="basket-footer">
      <p><%= link_to "Go to Basket", basket_path(@current_basket) %></p>
      <br>
      <br>
    </div>
  </div>
</div>
