<div class="meals">
<button class="btn backbtn"><%= link_to "<", root_path()%></button>
  <%= link_to "Log out",  destroy_user_session_path, method: :delete %>
   <br>
    <br>
    <br>
    <br>
    <br>
  <div class="cards">
    <h1 class="text-center" style="font-size: 50px; color: white;"><%= @restaurant.name %></h1>
    <%  @meals.each do |meal|%>
      <%= render("meal_card",{meal: meal, basket: @current_basket}) %>
    <% end  %>
    <br>
    <br>
    <br>
      <p><%= link_to basket_path(@current_basket), class:'btn-basket' , style:'color: white; text-align: center;' do %>
        <i class="fas fa-shopping-cart"></i>
        <%end%>
        </p>
      <br>
      <br>
  </div>
</div>
