<div class="meals">
<button class="btn backbtn"><%= link_to "<", root_path()%></button>
   <br>
    <br>
    <br>
    <br>
    <br>
  <div class="cards">
    <h1 class="text-center" style="font-size: 50px; color: #fdf5ec;"><%= @restaurant.name %></h1>
    <%  @meals.each do |meal|%>
      <%= render("meal_card",{meal: meal, basket: @current_basket}) %>
    <% end  %>
    <br>
    <br>
    <br>
      <%= link_to basket_path(@current_basket), class:'btn-basket' , style:'color: #fdf5ec; text-align: center;' do %>
          <% if @meals.count > 0 %>
            <div class="product-number"><%= @meals.count %></div>
          <% end %>
          <i class="fas fa-shopping-cart"></i>
        <%end%>
      <br>
      <br>
  </div>
</div>
